/* Coolors Exported Palette - /ffffff-677387-464f5f-e31e1a-2a313d */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(218%, 13%, 47%, 1);
$color3: hsla(218%, 15%, 32%, 1);
$color4: hsla(1%, 79%, 50%, 1);
$color5: hsla(218%, 18%, 20%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(103, 115, 135, 1);
$color3: rgba(70, 79, 95, 1);
$color5: rgba(42, 49, 61, 1);

$color4: rgba(71, 86, 202, 1);
$color5: rgba(71, 108, 206, 1);

#ffffff
#677387
#464f5f
#2a313d

#4756CA
#476cce

#0c9bc7
#10e6c2

linear-gradient(180deg, #476cce, #10e6c2);
